In [ ]:
# printing
print("welcome to python")
print("welcome to jupitor notebook")

In [ ]:
## printing number
x=45456656
print(x)

### insert an image
![text](https://www.tripsavvy.com/thmb/vtQ0z46-XgsnB6-UlhXZuMpw1UE=/3626x2727/filters:fill(auto,1)/view-from-besseggen-at-the-gjendevatnet-lake-in-jotunheimen-norway-638627786-59da57429abed500106e641c.jpg)

#### insert a site
[site](https://www.google.com/search?q=norway&safe=active&rlz=1C1CHBD_enIN854IN854&sxsrf=ACYBGNTY1gjwKCA6SbRLezNjdKKqP-u1Lw:1575346825787&source=lnms&sa=X&ved=0ahUKEwiEvsuf0JjmAhUaeysKHahKDFAQ_AUIDSgA&biw=1440&bih=789&dpr=1)

##### for creating an ordered list
- a
- b

## "bold and single" italic text
**gitam**<>

In [10]:
name="gitam"
print("university- "+name)

university- gitam

In [11]:
name=input("enter a name")
age=int(input("enter the age"))
print("My name is ",name,"and age is",age)

enter a nameani
enter the age9
My name is  ani and age is 9

In [14]:
a=int(input("enter a number"))
b=int(input("enter second number"))
c=a+b
d=a-b
e=a*b
f=a/b
print("the addition is",c)
print(d)
print(e)
print(f)

enter a number5
enter second number4
the addition is 9
1
20
1.25

In [15]:
a=10
b=12.5
c=5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [17]:
c=complex(3,4)
print("c= ",c)

c=  (3+4j)

In [18]:
c1=5+5j
c2=8+9j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

(13+14j)
(-3-4j)
(-5+85j)
(0.5862068965517242-0.03448275862068964j)

In [19]:
a=10
b=20
a>b

False

In [20]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=2.6
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [24]:
a1=1234
print(len(str(a1)))

4

In [29]:
a=20
b=10
#arithmetic operators 

print(a+b)
print(a-b)
print(a*b)
print(a%b) #remain
print(a/b) #quotient with decimal
print(a//b) #quotient without decimal
print(a**b) #power

#relational operators

print(a==b)
print(a!=b)
print(a<b)
print(a>b)

#logical opearatos

print(a>=10 and a<=20)
print(a>=21 or a<=5)
print(not a)

30
10
200
0
2.0
2
10240000000000
False
True
False
True
True
False
False

In [30]:
a=20
b=40
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [31]:
f=[1,2,3,4]
print(1 in f)
print(5 in f)
print(7 not in f)

True
False
True

In [35]:
#conditional statements
a=int(input("enter a no"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a no4
even

In [36]:
a=int(input("enter a number"))
if a%3==0 and a%5==0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [41]:
a=int(input("enter a number"))
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

enter a number-0
zero

In [2]:
a=int(input("enter a year"))
if a%400==0 and a%4==0:
    print("leap year")
else:
    print("not leap year")

enter a year2000
leap year

In [4]:
n=int(input("enter a number"))
i=1
while i<=n:
    print(i)
    i=i+1

enter a number5
1
2
3
4
5

In [2]:
n=int(input("enter a number"))
i=0
s=0
while i<=n:
    s=s+i
    i=i+2
print(s)

enter a number10
30