In [1]:
printf("Welcome to C programming")
printf("Welcome to jupytor notebook")

NameError: name 'printf' is not defined

In [2]:
x=100
print(x)

100

In [3]:
print("Welcome to C programming")
print("Welcome to jupytor notebook")

Welcome to C programming
Welcome to jupytor notebook

# markdown
## markdown
### markdown
#### markdown
##### markdown

### insert a image 
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgzxmqc19D5EVvsLdy69Xjpp_0OqG8LMQ6V2eA93x4g1leqQsI)

In [4]:
### insert a site
[site](https://www.google.com/search?q=tumblr+wallpaper&tbm=isch&ved=2ahUKEwjD_6eez5jmAhVBg48KHXcrDAsQ2-cCegQIABAA&oq=tumblr+wallpaper&gs_l=img.3..0l10.16601.18355..18711...0.0..0.120.607.6j1......0....1..gws-wiz-img.......0i67j0i10j0i7i30.7OLmBqb14kM&ei=euHlXcPaKMGGvgT31rBY#imgrc=Rto2TdVF6nROpM)

SyntaxError: invalid syntax (<ipython-input-4-9405772c2bcb>, line 2)

In [5]:
[site](https://github.com/)

SyntaxError: invalid syntax (<ipython-input-5-e16dde109b97>, line 1)

[site](https://github.com/)

### for creating ordered list
1. abc
2. efg
  1. a
  2. b
3. hij

### symbols of unordered list
- abc
- efg
  - a
  - b
- hij
  - c
  - d

In [6]:
# variable creation
a = 10
b = 10
a+b

20

In [7]:
name = "Gitam"
print("university"+ name)

universityGitam

In [ ]:
name = input("enter a name")
age = int(input("enter age"))

In [2]:
a = 10
b = 12.05
c = 5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [3]:
c = complex(3,4)
print(c)

(3+4j)

In [4]:
c1 = 3+4j
c2 = 1+2j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(4+6j)
(2+2j)
(-5+10j)

## boolean
a = 10
b = 20
a>b

In [5]:
s1 ='abc'
s2 ='xyz'
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [8]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 =int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [7]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 3+4j
a1 =int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'str'>

TypeError: can't convert complex to int

In [10]:
a1 = 1234
print(len(str(a1)))

4

In [ ]:
### operations
1. arthematic operators --->+,-,*,%,//,**
2. logical operators --->and,or,not
3. relational operators ---><,>.>=,<=,==
4.

In [11]:
n1=12
n2=21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1//n2)
print(n1**n2)

33
-9
252
0
46005119909369701466112

In [12]:
# relational operators
print(n1 == n2)
print(n1 != n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

In [13]:
# logical operators
print(n1>=10 and n1<=20)
print(n1>=10 or n1<= 20)
print(not n1)

True
True
False

In [14]:
# relational operations
a=10
b=20
print(a>b)

False

In [15]:
a=20
b=30
print(a<b)

True

In [16]:
a=10
b=20
print(a==b)

False

In [17]:
a=10
b=20 
print(a != b)
print(a<=b)
print(a>=b)

True
True
False

# membership operators
## intrue if value is in sequence

In [18]:
f=[1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f)

True
False
True

In [ ]:
## conditional statements
1. if
2. else

In [22]:
n=int(input("enter a number"))
if  n%2 == 0:
     print("even")
else:
     print("odd")

enter a number20
even

In [25]:
n=int(input("enter a number"))
if n%3== 0 and n%5 ==0:
   print("multiple of 3 and 5")
else:
    print("not a mutliple of 3 and 5")

enter a number15
multiple of 3 and 5

In [31]:
n=int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("equal to zero")

enter a number10
positive

## Check the input is leap year or not

In [3]:
year = int(input())
if year%400 ==0 or (year%4 ==0 and year%100 !=0):
    print("leap year")
else:
    print("not a leap year")

2100
not a leap year

## Loops

In [5]:
#print no from 1 to n
n = int(input("enter a number"))
i =1
while i<= n:
    print(i,end="")
    i=i+1

enter a number10
12345678910

# Read a no a input
# Output should be sum of even no's from 1 to N

In [2]:
n =int(input("enter a number"))
i = 1
s = 0
while i <= n:
    if i % 2 ==0:
        s = s + i
    i = i + 1
print(s)

enter a number10
30